# Basic home structure directories
Desktop
Documents
Downloads
Games
Images
Music
Pictures
Public
Repos
Screenshots
Videos


# Popular general keywords 
*bash*
*cache*
*cargo*
*dotnet*
*eclipse*
*electron*
*floorp*
*ghcup*
.gitconfig
git*
*gnupg*
*gtkrc-2.0*
*icons*
*imagej*
*iris*
*java*
*lyrics*
*minecraft*
*mozbuild*
*mozilla*
*m2
*mcc
*mchp_packs
*mplabcomm
*mplab_ide
*mplab_scripts
MPLABXProjects
*npm*
*nuget*
*nv*
*nvidia*
*oh-my-zsh*
*omnisharp*
*onnect
*pki*
*pulse*
*python*
*renderdoc*
*rust*
Scripts
*secret*
spotify*
*steam*
*swt*
Templates
*tex*
*[Tt]hunderbird*
*tmux
*var*
*vim*
*vmware*
*vscode*
*wget*
*wine*
*zsh_*
*zcom*


# Skip and add configs manually
.config
.local

